.header_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

.header_logo_block {
  display: flex;
  align-items: center;
  gap: 0.5em;
  font-weight: bold;
}

.header_right {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
