.VelogLayout_section {
  position: relative;
  width: 100%;
  max-width: 736px;
  margin: 0 auto;
  padding: 0 1rem;
}

.VelogSearchInput_block {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 32px;
}

.VelogSearchInput_search {
  display: flex;
  height: 36px;
  border: 1px solid #e9ecef;
  border-radius: 4px;
  padding-left: 10px;
  padding-right: 10px;
  align-items: center;
  cursor: text;
  min-width: 300px;
}

.VelogPosts_block {
  position: relative;
  margin-top: 32px;
  display: flex;
  gap: 2rem;
}

.VelogTagVerticalList_block {
  width: 200px;
  left: -216px;
  position: absolute;
}

.VelogTagVerticalList_title {
  font-size: 16px;
  line-height: 1.5;
  padding-bottom: 8px;
  border-bottom: 1px solid #e9ecef;
  margin-bottom: 16px;
  font-weight: 700;
}

.VelogTagVerticalList_listItem {
  font-size: 14px;
  line-height: 1.5;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
}

.VelogPosts_content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.VelogPosts_empty {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.VelogPosts_message {
  margin-top: 1rem;
  font-size: 1.8rem;
  color: #868e96;
}
